# Data Preprocessing Tools

## Importing the libraries

In [5]:

import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [6]:
dataset = pd.read_csv('/content/Data.csv')

In [7]:
print(dataset)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [8]:
#Finding shape of data
dataset.shape

(10, 4)

In [9]:
#finding the data type of each column
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 452.0+ bytes

In [10]:
#finding isnull/missing value
dataset.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [11]:
#indexing and selecting data, sort data
select_data=dataset[["Age","Salary"]]

In [12]:
select_data

    Age   Salary
0  44.0  72000.0
1  27.0  48000.0
2  30.0  54000.0
3  38.0  61000.0
4  40.0      NaN
5  35.0  58000.0
6   NaN  52000.0
7  48.0  79000.0
8  50.0  83000.0
9  37.0  67000.0

In [13]:
#sort data
age_sorted=sorted(select_data["Age"])
age_sorted

[27.0, 30.0, 35.0, 37.0, 38.0, 40.0, 44.0, nan, 48.0, 50.0]

In [14]:

salary_sorted=sorted(select_data["Salary"])
salary_sorted

[48000.0,
 52000.0,
 54000.0,
 58000.0,
 61000.0,
 72000.0,
 nan,
 67000.0,
 79000.0,
 83000.0]

# Common DataFrame Attributes

In [15]:
dataset.shape

(10, 4)

In [16]:
dataset.index

RangeIndex(start=0, stop=10, step=1)

In [17]:
dataset.columns

Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')

In [18]:
dataset.dtypes

Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [19]:
dataset.size

40

In [20]:
dataset.values

array([['France', 44.0, 72000.0, 'No'],
       ['Spain', 27.0, 48000.0, 'Yes'],
       ['Germany', 30.0, 54000.0, 'No'],
       ['Spain', 38.0, 61000.0, 'No'],
       ['Germany', 40.0, nan, 'Yes'],
       ['France', 35.0, 58000.0, 'Yes'],
       ['Spain', nan, 52000.0, 'No'],
       ['France', 48.0, 79000.0, 'Yes'],
       ['Germany', 50.0, 83000.0, 'No'],
       ['France', 37.0, 67000.0, 'Yes']], dtype=object)

In [21]:
#Rows and columns interchanged
dataset.T

,0,1,2,3,4,5,6,7,8,9
Country,France,Spain,Germany,Spain,Germany,France,Spain,France,Germany,France
Age,44.0,27.0,30.0,38.0,40.0,35.0,NaN,48.0,50.0,37.0
Salary,72000.0,48000.0,54000.0,61000.0,NaN,58000.0,52000.0,79000.0,83000.0,67000.0
Purchased,No,Yes,No,No,Yes,Yes,No,Yes,No,Yes

In [22]:
dataset.empty

False

In [23]:
dataset.ndim

2

In [24]:
dataset.memory_usage()

Index        132
Country       80
Age           80
Salary        80
Purchased     80
dtype: int64

In [25]:
print(dataset.at[0, 'Age'])

44.0

In [26]:
dataset.iat

In [27]:
dataset.axes

[RangeIndex(start=0, stop=10, step=1),
 Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')]